{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Мой сайт{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Создать вакансию</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home_page' %}">Главная</a></li>
                <li><a href="{% url 'about_page' %}">О нас</a></li>
                <li><a href="{% url 'contact_page' %}">Связаться</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2025 NDM Поиск вакансий</p>
    </footer>
</body>
</html>